<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>3rd Party Mac Developer Application: Lucas Canova (9D7X84MT44)</string>
	<key>installerSigningCertificate</key>
	<string>3rd Party Mac Developer Installer: Lucas Canova (9D7X84MT44)</string>
	<key>teamID</key>
	<string>9D7X84MT44</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>br.com.lucascanova.vitaview</key>
		<string>VitaView MAS Distribution</string>
	</dict>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
