App/build
App/Pods
App/output
App/App/public/*
!App/App/public/
!App/App/public/index.html
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Runtime config shipped with the Apple app target
